<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <div class="row justify-content-center">
      <%= render 'shared/errors', obj: @category %>

      <%= render "form" %>

      <%= link_to "[ Cancel and return category ]", category_path(@category), class: "text-center text-info mb-3" %>
  </div>
</div>
